@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    // Retrieve username and user role from session
    var username = HttpContextAccessor.HttpContext?.Session.GetString("Username");
    var userRole = HttpContextAccessor.HttpContext?.Session.GetString("UserRole");

    // Get the current URL path
    var currentPath = HttpContextAccessor.HttpContext?.Request.Path.Value;
}

<aside class="w-64 bg-downy-200 shadow-md h-500 flex flex-col">
    <nav class="flex-1">
        <ul class="space-y-0">
            <li>
                <a href="/Patient/Create" class="flex items-center @((currentPath == "/Patient/Create") ? "bg-stromboli text-white" : "text-stromboli") font-semibold py-2 px-4 hover:bg-downy hover:text-white transition duration-300 w-full">
                    <img src="~/images/.svg" alt="Icon" class="h-6 w-6 mr-3" />
                    Patient Registration
                </a>
            </li>
            <li>
                <a href="/Patient" class="flex items-center @((currentPath == "/Patient") ? "bg-stromboli text-white" : "text-stromboli") font-semibold py-2 px-4 hover:bg-downy hover:text-white transition duration-300 w-full">
                    <img src="~/images/.svg" alt="Icon" class="h-6 w-6 mr-3" />
                    Patient Records
                </a>
            </li>
            <li>
                <a href="/Payment" class="flex items-center @((currentPath == "/Payment") ? "bg-stromboli text-white" : "text-stromboli") font-semibold py-2 px-4 hover:bg-downy hover:text-white transition duration-300 w-full">
                    <img src="~/images/.svg" alt="Icon" class="h-6 w-6 mr-3" />
                    Patient Payments
                </a>
            </li>
            <li>
                <a href="/MedicalRecord" class="flex items-center @((currentPath == "/MedicalRecord") ? "bg-stromboli text-white" : "text-stromboli") font-semibold py-2 px-4 hover:bg-downy hover:text-white transition duration-300 w-full">
                    <img src="~/images/.svg" alt="Icon" class="h-6 w-6 mr-3" />
                    Electronic Medical Records
                </a>
            </li>
        </ul>
    </nav>

    <div class="flex items-center justify-between mt-4 mb-4 mx-4">
        <div class="text-stromboli">
            <span class="font-semibold">@username</span><br />
            <span class="text-sm">@userRole</span>
        </div>
        <form method="post" action="/Account/Logout" class="inline">
            <button type="submit" class="bg-downy text-stromboli font-semibold py-2 px-4 rounded hover:bg-stromboli hover:text-white transition duration-300 w-full text-center">
                Logout
            </button>
        </form>
    </div>
</aside>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
