@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var username = HttpContextAccessor.HttpContext?.Session.GetString("Username");
    var userRole = HttpContextAccessor.HttpContext?.Session.GetString("UserRole");
    var currentPath = HttpContextAccessor.HttpContext?.Request.Path.Value;
}

<aside class="w-64 bg-downy-200 shadow-md h-500 flex flex-col">
    <nav class="flex-1">
        <ul class="space-y-0">
            <li>
                <a href="/Home/Dashboard" class="flex items-center @(currentPath == "/Home/Dashboard" ? "bg-stromboli text-white" : "text-stromboli") font-semibold py-2 px-4 hover:bg-downy hover:text-white transition duration-300 w-full">
                    <img src="~/images/dashboard.png" alt="Icon" class="h-6 w-6 mr-3" />
                    Dashboard 
                </a>
            </li>
            <li>
                <a href="/Patient/Create" class="flex items-center @(currentPath == "/Patient/Create" ? "bg-stromboli text-white" : "text-stromboli") font-semibold py-2 px-4 hover:bg-downy hover:text-white transition duration-300 w-full">
                    <img src="~/images/patientreg.png" alt="Icon" class="h-6 w-6 mr-3" />
                    Patient Registration
                </a>
            </li>
            <li>
                <a href="/Patient" class="flex items-center @(currentPath == "/Patient" ? "bg-stromboli text-white" : "text-stromboli") font-semibold py-2 px-4 hover:bg-downy hover:text-white transition duration-300 w-full">
                    <img src="~/images/patientrec.png" alt="Icon" class="h-6 w-6 mr-3" />
                    Patient Records
                </a>
            </li>
            <li>
                <a href="/Payment" class="flex items-center @(currentPath == "/Payment" ? "bg-stromboli text-white" : "text-stromboli") font-semibold py-2 px-4 hover:bg-downy hover:text-white transition duration-300 w-full">
                    <img src="~/images/patientpayment.png" alt="Icon" class="h-9 w-9 mr-3" />
                    Patient Payments
                    <svg class="ml-2 w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </a>
                <!-- Only show the "Add Payment" button on the /Payment page -->
                @if (currentPath == "/Payment") 
                {
                    <div id="addPaymentDropdown" class="font-semibold py-2 px-4 hover:bg-downy hover:text-white transition duration-300 w-full flex items-center">
                        <div class="mb-4">
                            <a href="@Url.Action("Add", "Payment")" class="text-stromboli">
                                Add Payment
                            </a>
                        </div>
                    </div>
                }
            </li>
            <li>
                <a href="/MedicalRecord" class="flex items-center @(currentPath == "/MedicalRecord" ? "bg-stromboli text-white" : "text-stromboli") font-semibold py-2 px-4 hover:bg-downy hover:text-white transition duration-300 w-full">
                    <img src="~/images/EMR.png" alt="Icon" class="h-6 w-6 mr-3" />
                    Electronic Medical Records
                </a>
                <!-- Only show the "Add MedicalRecord" button on the /MedicalRecord page -->
                @if (currentPath == "/MedicalRecord")
                {
                    <div id="addPaymentDropdown" class="font-semibold py-2 px-4 hover:bg-downy hover:text-white transition duration-300 w-full flex items-center">
                        <div class="mb-4">
                            <a href="@Url.Action("Add", "MedicalRecord")" class="text-stromboli">
                                Add MedicalRecord
                            </a>
                        </div>
                    </div>
                }
            </li>
        </ul>
    </nav>

    <div class="flex items-center justify-between mt-4 mb-4 mx-4">
        <div class="text-stromboli">
            <span class="font-semibold">@username</span><br />
            <span class="text-sm">@userRole</span>
        </div>
        <form method="post" action="/Account/Logout" class="inline">
            <button type="submit" class="bg-downy text-stromboli font-semibold py-2 px-4 rounded hover:bg-stromboli hover:text-white transition duration-300 w-full text-center">
                Logout
            </button>
        </form>
    </div>
</aside>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <script>
        // No JavaScript needed for toggling dropdown, as it redirects to Payment page
    </script>
}
