@model IEnumerable<MedicalRecord>

@{
    ViewData["Title"] = "Medical Records for Patient";
    ViewData["HideFooter"] = true;
}

<div class="container mx-auto px-4 py-6">
    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-warning bg-red-600 text-white text-center py-4 rounded">
            @ViewData["No Medical Records"]
            <p class="text-3xl font-bold mb-4">
                No medical records found for this patient.
            </p>
        </div>

    }
    else
    {
        <h2 class="text-3xl font-bold text-stromboli mb-4">@ViewData["FullName"]'s Medical Record</h2>

        <table class="table min-w-full bg-white shadow-md rounded-lg overflow-hidden">
            <thead class="bg-stromboli">
                <tr class="text-white">
                    <th class="py-3 px-4 text-left">Date</th>
                    <th class="py-3 px-4 text-left">Details</th>
                    <th class="py-3 px-4 text-left">Notes</th>
                    <th class="py-3 px-4 text-left">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    <tr>
                        <td class="py-2 px-4">@record.CreatedAt</td>
                        <td class="py-2 px-4">@record.RecordDetails</td>
                        <td class="py-2 px-4">@record.Notes</td>
                        <td class="py-2 px-4 border-b">
                            <a href="@Url.Action("Update", new { id = record.Id })" class="text-stromboli hover:underline">Update</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
